/* Font Imports */
@font-face {
  font-family: "Storica";
  src: url(fonts/Storica-Bold.ttf) format("opentype"); /* font-weight: bold; */
}
@font-face {
  font-family: "Silk-Serif";
  src: url(fonts/SilkSerif-Regular.ttf) format("truetype"); /* font-weight: bold; */
}
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueLight.otf) format("opentype"); /* font-weight: 300; */
}
@font-face {
  font-family: "SS-Pro";
  src: url(fonts/SourceSansPro-Light.otf) format("opentype"); /* font-weight: 300; */
}
@font-face {
  font-family: "SS-Pro-Bold";
  src: url(fonts/SourceSansPro-Semibold.otf) format("opentype"); /* font-weight: 600; */
} /* Global Styles */
:root {
  --primary-bg: #fff8f8;
  --primary-text-2: #23201a;
  --primary-text: #1f1f1f;
  --highlight: #daa520;
  --shadow: rgba(31, 31, 31, 0.8);
  --transition: all 0.3s ease-in-out;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  /* max-width: 1536px; */
  background: hsla(40, 17.65%, 96.67%, 1);
  font-family: "SS-Pro", Arial, sans-serif;
  color: var(--primary-text-2);
  /* white-space: nowrap; */
} /* Layout & Containers */

.container {
  /* max-width: 1536px; */
  margin: 0 auto;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--primary-bg);
}

/* NAVIGATION BAR */
header {
  max-width: 650px;
  position: relative;
  left: -40%;
}
nav {
  display: flex;
}
ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}
form {
  /* border: 1px white solid; */
  max-width: 650px;
  display: flex;
  flex-direction: column;
  padding: 3rem;

  h1 {
    font-family: "Silk-Serif", Georgia, "Times New Roman", Times, serif;
    letter-spacing: 0.5rem;
    text-align: center;
    color: var(--primary-text);
    font-size: clamp(1rem, 1vw + 2rem, 3rem);
    font-weight: normal;
  }
}

p {
  font-size: clamp(1rem, 0.7vw + 0.5rem, 3rem);
  letter-spacing: 1px;
  text-align: just;
  white-space: none;
}

.form--header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

.name--block {
  display: flex;
  gap: 1rem;
  padding: 1.5rem 0;
  justify-content: space-between;
  align-items: left;
}

.card {
  display: flex;
  flex-direction: column;
  /* border: 1px solid lime; */
}

.choice--block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  /* border: 1px red solid; */
  gap: 1rem;
  padding-top: 1rem;
}

.card input {
  caret-color: goldenrod;
  height: 2rem;
  width: 300px;
  background-color: transparent;
  border-style: solid;
  border: none;
  border-bottom: rgba(221, 221, 221, 0.8) solid 1px;
  transition: background-color 0.3s ease-in-out 0.2s;
  opacity: 1;
  color: #1f1f1f;
}

.card input:hover {
  background-color: var(--primary-bg);
}

textarea:focus,
input:focus {
  color: var(--primary-text-2);
  outline: none;
}

input,
select,
textarea {
  color: #fff8f8;
  font-size: clamp(1rem, 0.5vw + 0.85rem, 2rem);
  font-family: "SS-Pro-Bold", Georgia, "Times New Roman", Times, serif;
}

.response {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  padding-bottom: 2rem;
}

.response--option {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

input[type="radio"] {
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: var(--highlight);
  width: 1.25em;
  height: 1.25em;
  border: 0.15em solid #fff;
  border-radius: 50%;
  align-content: center;
  accent-color: var(--primary-text);
}

input::placeholder {
  color: gray;
  font-weight: normal;
  opacity: 0.4;
  font-family: "SS-Pro", Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
}

hr {
  background-color: #ddd;
  border: #ddd;
  height: 1px;
  width: 50%;
  margin: 0 auto;
}

footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  font-size: clamp(0.8rem, 0.5vw + 0.65rem, 4rem);
  display: flex;
  gap: 0.5rem;
  background-color: var(--primary-text);

  div {
    color: var(--primary-bg);
  }
}

.footer--image {
  display: flex;
  gap: 0.3rem;
}

.footer--image img {
  height: 25px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

/* RSVP BUTTON */

.rsvp--button {
  width: auto;
  font-size: clamp(0.5rem, 0.5vw + 0.8rem, 3rem);
  background: var(--primary-text);
  border: 1px solid var(--primary-bg);
  letter-spacing: 1.2px;
  content: " ";
  margin-right: -1.2px;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  font-family: "SS-Pro-Bold", "Arial Black", sans-serif;
  color: var(--primary-bg);
  transition: var(--transition);
  align-self: center;
}

.rsvp--button:hover {
  background: var(--highlight);
  border-color: var(--highlight);
  color: var(--primary-text);
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

button {
  font-size: clamp(0.5rem, 0.5vw + 0.8rem, 3rem);
  background: var(--primary-bg);
  border: 1px solid var(--primary-bg);
  letter-spacing: 1.2px;
  content: " ";
  margin-right: -1.2px;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  font-family: "SS-Pro-Bold", "Arial Black", sans-serif;
  color: var(--primary-text);
  transition: var(--transition);
}
.buttons-block {
  display: flex;
  gap: 5rem;
}
/* Responsive Design */
@media (max-width: 1536px) {
  .container {
    max-width: 100%;
  }
}

/* @media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
} */

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  .name--block,
  .choice--block {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  /* .card input {
    width: 150px;
  } */

  .name--block {
    gap: 0.5rem;
  }

  @media (max-width: 475px) {
    .container {
      max-width: 320px;
    }

    .card input {
      width: 200px;
    }
  }

  input::placeholder {
    font-size: 0.95rem;
  }
}
